/* builds on xaringan:::list_css()["rladies"] */

:root {
	--orange: rgb(255, 98, 56);
	--orangea: rgb(255, 98, 56, 0.3);
	--plum: rgb(125, 39, 74);
	--yellow: rgb(255, 215, 145);
}


h1, h2, h3 {
  font-weight: normal;
  color: var(--plum);
}
a, a > code {
  color: #88398a;
}
.remark-code-line-highlighted {
  background-color: var(--orangea);
}
.remark-code, .remark-inline-code {
  color: var(--plum);
}
.inverse {
  background-color: var(--plum);
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}


/*
Alternative way to set up the title slide
https://stackoverflow.com/a/64276243/14115463

.bg_cfe {
  position: relative;
  z-index: 1;
}

.bg_cfe::before {
  content: "";
  background-image:
    linear-gradient(205deg, white 35%, transparent 35%),
    url(gradient-background.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
*/
